/* Estilos para o banner principal */
.section1 {
    width: 100%;
    background: #685BC7;
    background-image: url(img/charifa_section1.webp);
    background-size: cover;
    padding-bottom: 35vh;
    
}

.description {
    color: #000;
}

.section2-image {
    max-width: 80%;
}


.section2-title-text-dark {
    color: #161616;
    font-size: 2.5rem;
    font-family: Palanquin Dark;
    font-weight: 400;
    line-height: 1.2;
    word-wrap: break-word;
}

.section2-title-text-purple {
    color: #685BC7;
    font-size: 2.5rem;
    font-family: Palanquin Dark;
    font-weight: 400;
    line-height: 1.2;
    word-wrap: break-word;
}

.section2-content-container{
    height: 100%;
    display: flex;
    align-items: center;
}
.section2-content-text {
    flex: 1 1 0;
    padding-left: 1rem;
    padding-right: 1rem;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 2rem;
    display: inline-flex;
}

/* Estilos para a seção 3 */
.section3 {
    width: 100%;
    background: #F5B6CD;
}



.section3-title-text-black {
    color: #000;
    font-size: 2.5rem;
    font-family: Palanquin Dark;
    font-weight: 400;
    line-height: 1.2;
    word-wrap: break-word;
}

.section3-title-text-purple {
    color: #685BC7;
    font-size: 2.5rem;
    font-family: Palanquin Dark;
    font-weight: 400;
    line-height: 1.2;
    word-wrap: break-word;
}

.section3-content {
    padding-top: 3rem;
    padding-bottom: 7rem;
}

.section3-title-text-purple {
    font-size: 2.5rem;
    line-height: 1.2;
}


.section3-description-text {
    color: #000;
    font-size: 1.3rem;
    font-family: Palanquin;
    font-weight: 400;
    line-height: 1;
    word-wrap: break-word;
}

.section3-description-text-bold {
    color: #000;
    font-size: 1.3rem;
    font-family: Palanquin;
    font-weight: 700;
    line-height: 1;
    word-wrap: break-word;
}



.section4-title {
    text-align: center;
}

.section4-title-text-dark {
    color: #161616;
    font-size: 3rem;
    font-family: Palanquin Dark;
    font-weight: 400;
    line-height: 1.2;
    word-wrap: break-word;
}
.section4-step-image.imgppt{
    padding-top: 10%;
}

.section4-title-text-purple {
    color: #685BC7;
    font-size: 3rem;
    font-family: Palanquin Dark;
    font-weight: 400;
    line-height: 1.2;
    word-wrap: break-word;
}

.section4-content {
    width: 100%;
    align-self: stretch;
    padding-top: 4rem;
    padding-bottom: 2.5rem;
    background: white;
    overflow: hidden;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 4rem;
    display: inline-flex;
}
.section4-mobile-steps-container{
    display: none;
}
.section4-steps-container {
    justify-content: flex-start;
    align-items: flex-start;
    display: inline-flex;
    flex-wrap: wrap;
    align-content: flex-start;
    gap: 5vw;
}
.section4-step-box{
    width: 12rem;
}
.section4-step {
   
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 1.4rem;
    display: inline-flex;
}

.section4-step-image {
    max-width: 70%;
   
}

.section4-step-title {
   
    text-align: center;
    color: #161616;
    font-size: 1.5rem;
    font-family: Palanquin;
    font-weight: 600;
    line-height: 1;
    word-wrap: break-word;
}

.section4-step-description {
    align-self: stretch;
    text-align: center;
    color: #161616;
    font-size: 1rem;
    font-family: Palanquin;
    font-weight: 400;
    line-height: 1;
    word-wrap: break-word;
}

.section4-step-description-bold {
    color: #161616;
    font-size: 1.1rem;
    font-family: Palanquin;
    font-weight: 700;
    line-height: 1;
    word-wrap: break-word;
}

.section4-divider {
    width: 12rem;
    height: 11rem;
    position: relative;
}

.section4-divider-shape {
    width: 10rem;
    height: 3.3rem;
    left: 1.5rem;
    top: 1.2rem;
    position: absolute;
    background-image: url(img/ligacao.webp);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

.section4-step-2 {
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 1.4rem;
    display: inline-flex;
}


.section4-step-3 {
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 1.4rem;
    display: inline-flex;
}

.section4-step-3-title {
     
    text-align: center;
    color: #161616;
    font-size: 1.5rem;
    font-family: Palanquin;
    font-weight: 600;
    line-height: 1;
    word-wrap: break-word;
}



/* Estilos para a seção 5 */
.section5 {
    width: 100%;
    background: #F5B6CD;
    padding-bottom: 5rem;
}

.section5-header {
    align-self: stretch;
    padding-top: 5rem;
    padding-bottom: 3rem;
    overflow: hidden;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    display: inline-flex;
    width: 100%;
}

.section5-title {
    align-self: stretch;
    text-align: center;
}

.section5-title-text-black {
    color: black;
    font-size: 3rem;
    font-family: Palanquin Dark;
    font-weight: 400;
    line-height: 1.2;
    word-wrap: break-word;
}

.section5-title-text-purple {
    color: #685BC7;
    font-size: 3rem;
    font-family: Palanquin Dark;
    font-weight: 400;
    line-height: 1.2;
    word-wrap: break-word;
}

.section5-content {
    align-self: stretch;
    padding-top: 3rem;
    padding-bottom: 3rem;
    background: #F5B6CD;
    overflow: hidden;
    justify-content: center;
    align-items: center;
    gap: 3rem;
    display: inline-flex;
}

.section5-image-container {
    max-width: 40vw;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    gap: 3rem;
    display: inline-flex;
}

.section5-image {
    width: 80%;
   
}

.section5-features {
    flex: 1 1 0;
    align-self: stretch;
    padding-top: 2rem;
    padding-bottom: 2rem;
    overflow: hidden;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 1.5rem;
    display: inline-flex;
}

.section5-features-container {
    
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 1.5rem;
    display: flex;
}

.section5-feature-card {
    align-self: stretch;
    padding: 1.5rem;
    background: white;
    overflow: hidden;
    border-radius: 15px;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 0.7rem;
    display: flex;
}

.section5-feature-header {
    align-self: stretch;
    justify-content: flex-start;
    align-items: center;
    gap: 0.7rem;
    display: inline-flex;
}

.section5-feature-title {
    color: #161616;
    font-size: 1.1rem;
    font-family: Palanquin;
    font-weight: 600;
    line-height: 1;
    word-wrap: break-word;
}

.section5-feature-description {
    align-self: stretch;
    color: #161616;
    font-size: 1rem;
    font-family: Palanquin;
    font-weight: 400;
    line-height: 1.2;
    word-wrap: break-word;
}

@media (max-width: 1380px) {
    .content-container {
        max-width: 40vw;
    }
    .banner-container{
        padding-left: 4rem;
    }
    .section1 {
        padding-bottom: 20vh;
    }
}



@media (max-width: 1300px) {
    .section5-header {
        padding-top: 5rem;
        padding-bottom: 3rem;
        gap: 2rem;
    }
    .section5-content {
        padding-top: 3rem;
        padding-bottom: 3rem;
        gap: 3rem;
    }
    .section5-image-container {
        gap: 3rem;
    }
    .section5-features {
        padding-top: 2rem;
        padding-bottom: 2rem;
        gap: 1.5rem;
    }
    .section5-features-container {
         gap: 1.5rem;
    }
    .section5-feature-card {
         padding: 1.5rem;
         gap: 0.7rem;
    }
    .section5-feature-header {
         gap: 0.7rem;
    }
    .section5-image {
        width: 100%;
    }
}
@media (max-width: 1150px) {
    .section4-step-image.imgppt {
        padding-top: 5%;
    }
    .section4-step-image {
        max-width: 50%;
    }
    .section4-steps-container {
        gap: 2vw;
    }
}
@media (max-width: 1150px) {
    .section1 {
        padding-bottom: 15vh;
    }
}

@media (max-width: 1038px) {
    .section1 {
        padding-bottom: 10vh;
    }
}

@media (max-width: 850px) {
    .section4-steps-container{
        gap: 10vw;
        justify-content: center;
        align-items: center;
        padding-left: 5rem;
        padding-right: 5rem;
    }
}

@media (max-width: 610px) {
    .section1 {
        background-image: url(img/mobile/banner_charifa_mobile.webp);
        padding-bottom: 35vh;
    }
    .section2-content-text {
        padding-left: 0;
        padding-right: 0;
    }
    .section2 .col-12{
        padding-left: 0;
        padding-right: 0;
    }
    .section2 .row{
        margin-right: 0;
        margin-left: 0; 

    }
    .section5-content {
        display: block;
    }
    .section5-content{
        text-align: center;
    }
    .section5-feature-card{
        text-align: left;
    }
    .section5-image-container {
        max-width: 80%;
    }
    .section5-image {
        width: 100%;
    }
    .section4-title-text-dark {
        font-size: 2.5rem;
    }
    .section4-title-text-purple{
        font-size: 2.5rem;
    }
    .section4-content {
        padding-top: 0;
    }
    .section4-steps-container {
     display: block;
     text-align: center;
    }
    .section4-step-box {
        width: 80%;
        padding-bottom: 4rem;
    }
    .section4-step-title{
        font-size: 1.8rem;
    }
    .section4-step-description{
        font-size: 1.1rem;
    }
    .section4-step-image.imgppt{
        padding-top: 0;
    }

    .section4-step-image{
        max-width: 8.5rem;
    }
    
    
}

@media (max-width: 420px) {
    .section5-title-text-black {
        font-size: 2rem;
        line-height: 1.2;
    }
    .section5-title-text-purple {
        font-size: 2rem;
        line-height: 1.2;
      
    }
    

}