body{
    overflow-x: hidden;
    width: 100vw;
}

.cursor-pointer{
    cursor: pointer;
}


/* Estilos para o banner principal */
.section1 {
    width: 100%;
    background: #685BC7;
    background-image: url(img/banner1.webp);
    background-size: cover;
    padding-bottom: 35vh;
    
}
.section1 .div-logo{
  width: 100%;
  background-color: #FFF;
  padding: 1rem;
  display: none;
}

.banner-container {
    align-self: stretch;
    padding-top: 12rem;
    padding-bottom: 0;
    padding-left: 8rem;
    padding-right: 0;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 1rem;
    display: inline-flex;
}

/* Logo */
.logo {
   width: 10rem;
}

/* Container do conteúdo principal */
.content-container {
    max-width: 35vw;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 1rem;
    display: flex;
}

/* Título principal */
.main-title {
    align-self: stretch;
    font-size: 2.5rem;
    font-family: Palanquin Dark;
    font-weight: 400;
    line-height: 1.2;
    word-wrap: break-word;
}

.title-text-white {
    color: white;
   
   
}

.title-text-pink {
    color: #F5B6CD;
}

/* Descrição */
.description {
    width:100%;
    color: white;
    font-size: 1.2rem;
    font-family: Palanquin;
    font-weight: 400;
    line-height: 1.2;
    word-wrap: break-word;
}

/* Container do formulário */
.form-container {
    width: 100%;
    border-radius: 20px;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    
    display: flex;
}

/* Container dos campos */
.fields-container {
    align-self: stretch;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 1rem;
    display: flex;
}
form{
    gap: 1rem;  
}


/* Botão de ação */
.action-button {
    align-self: stretch;
    height: 3.5rem;
    position: relative;
    background: #00B43C;
    border-radius: 10px;
    color: white;
    font-size: 1rem;
    font-family: Inter;
    font-weight: 600;
    text-transform: uppercase;
    line-height: 1.5;
    word-wrap: break-word;
    border: none;
}
.action-button:hover{
    background: #007025;
}

form{
    align-self: stretch;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 1.5rem;
    display: flex
}
/* Estilos para a seção 2 */
.section2 {
    width: 100%;
}

.section2-container {
    align-self: stretch;
    padding-top: 4rem;
    padding-bottom: 4rem;
    background: white;
    overflow: hidden;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 2rem;
    display: inline-flex;
}

.section2-image-container {
    padding: 1rem;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 5rem;
    display: inline-flex;
}

.section2-image {
    width: 100%;
}

.section2-content-text {
    flex: 1 1 0;
    align-self: stretch;
    padding-left: 1rem;
    padding-right: 1rem;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 2rem;
    display: inline-flex;
}

.section2-title-text-dark {
    color: #161616;
    font-size: 3rem;
    font-family: Palanquin Dark;
    font-weight: 400;
    line-height: 1.2;
    word-wrap: break-word;
}

.section2-title-text-purple {
    color: #685BC7;
    font-size: 3rem;
    font-family: Palanquin Dark;
    font-weight: 400;
    line-height: 1.2;
    word-wrap: break-word;
}

.section2-description {
    align-self: stretch;
    color: #161616;
    font-size: 1.2rem;
    font-family: Palanquin;
    font-weight: 400;
    line-height: 1.2;
    word-wrap: break-word;
}

/* Estilos para a seção 3 */
.section3 {
    width: 100%;
    background: #685BC7;
}

.section3-header {
    align-self: stretch;
    padding-top: 5rem;    
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 2rem;
    display: inline-flex;
}

.section3-title {
    align-self: stretch;
    text-align: center;
}

.section3-title-text-white {
    color: white;
    font-size: 2.5rem;
    font-family: Palanquin Dark;
    font-weight: 400;
    line-height: 1.2;
    word-wrap: break-word;
}

.section3-title-text-pink {
    color: #F5B6CD;
    font-size: 2.5rem;
    font-family: Palanquin Dark;
    font-weight: 400;
    line-height: 1.2;
    word-wrap: break-word;
}

.section3-description {
    max-width: 70%;
    text-align: center;
}

.section3-description-text {
    color: white;
    font-size: 1.3rem;
    font-family: Palanquin;
    font-weight: 400;
    line-height: 1;
    word-wrap: break-word;
}

.section3-description-text-bold {
    color: white;
    font-size: 1.3rem;
    font-family: Palanquin;
    font-weight: 700;
    line-height: 1;
    word-wrap: break-word;
}

.section3-content {
    align-self: stretch;
    padding-top: 3rem;
    padding-bottom: 7rem;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 4rem;
    display: inline-flex;
    text-align: center;
    width: 100%;
}

.section3-content iframe{
    width: 560px;
    height: 315px;
    border-radius: 15px;
    margin: auto;
}

.section3 .action-button,
.section4 .action-button,
.section5 .action-button,
.section6 .action-button
{
    width: 20rem;
    margin: auto;

}

/* Estilos para a seção 4 */
.section4 {
    width: 100%;
    background: #FFF;
}

.section4-header {
    width: 100%;
    align-self: stretch;
    padding-top: 4rem;
    padding-bottom: 2.5rem;
    background: white;
    overflow: hidden;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    display: inline-flex;
}

.section4-title {
    text-align: center;
}

.section4-title-text-dark {
    color: #161616;
    font-size: 3rem;
    font-family: Palanquin Dark;
    font-weight: 400;
    line-height: 1.2;
    word-wrap: break-word;
}

.section4-title-text-purple {
    color: #685BC7;
    font-size: 3rem;
    font-family: Palanquin Dark;
    font-weight: 400;
    line-height: 1.2;
    word-wrap: break-word;
}

.section4-content {
    width: 100%;
    align-self: stretch;
    padding-top: 4rem;
    padding-bottom: 2.5rem;
    background: white;
    overflow: hidden;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 4rem;
    display: inline-flex;
}
.section4-mobile-steps-container{
    display: none;
}
.section4-steps-container {
    justify-content: flex-start;
    align-items: flex-start;
    display: inline-flex;
    flex-wrap: wrap;
    align-content: flex-start;
}
.section4-step-box{
    width: 10rem;
}
.section4-step {
   
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 1.4rem;
    display: inline-flex;
}

.section4-step-image {
    max-width: 70%;
   
}

.section4-step-title {
   
    text-align: center;
    color: #161616;
    font-size: 1.5rem;
    font-family: Palanquin;
    font-weight: 600;
    line-height: 1;
    word-wrap: break-word;
}

.section4-step-description {
    align-self: stretch;
    text-align: center;
    color: #161616;
    font-size: 1rem;
    font-family: Palanquin;
    font-weight: 400;
    line-height: 1;
    word-wrap: break-word;
}

.section4-step-description-bold {
    color: #161616;
    font-size: 1.1rem;
    font-family: Palanquin;
    font-weight: 700;
    line-height: 1;
    word-wrap: break-word;
}

.section4-divider {
    width: 12rem;
    height: 11rem;
    position: relative;
}

.section4-divider-shape {
    width: 10rem;
    height: 3.3rem;
    left: 1.5rem;
    top: 1.2rem;
    position: absolute;
    background-image: url(img/ligacao.webp);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

.section4-step-2 {
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 1.4rem;
    display: inline-flex;
}


.section4-step-3 {
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 1.4rem;
    display: inline-flex;
}

.section4-step-3-title {
     
    text-align: center;
    color: #161616;
    font-size: 1.5rem;
    font-family: Palanquin;
    font-weight: 600;
    line-height: 1;
    word-wrap: break-word;
}


/* Estilos para a seção 5 */
.section5 {
    width: 100%;
    background: #F5B6CD;
    padding-bottom: 5rem;
}

.section5-header {
    align-self: stretch;
    padding-top: 5rem;
    padding-bottom: 3rem;
    overflow: hidden;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    display: inline-flex;
    width: 100%;
}

.section5-title {
    align-self: stretch;
    text-align: center;
}

.section5-title-text-black {
    color: black;
    font-size: 3rem;
    font-family: Palanquin Dark;
    font-weight: 400;
    line-height: 1.2;
    word-wrap: break-word;
}

.section5-title-text-purple {
    color: #685BC7;
    font-size: 3rem;
    font-family: Palanquin Dark;
    font-weight: 400;
    line-height: 1.2;
    word-wrap: break-word;
}

.section5-content {
    align-self: stretch;
    padding-top: 3rem;
    padding-bottom: 3rem;
    background: #F5B6CD;
    overflow: hidden;
    justify-content: center;
    align-items: center;
    gap: 3rem;
    display: inline-flex;
}

.section5-image-container {
    max-width: 40vw;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    gap: 3rem;
    display: inline-flex;
}

.section5-image {
    width: 80%;
   
}

.section5-features {
    flex: 1 1 0;
    align-self: stretch;
    padding-top: 2rem;
    padding-bottom: 2rem;
    overflow: hidden;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 1.5rem;
    display: inline-flex;
}

.section5-features-container {
    
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 1.5rem;
    display: flex;
}

.section5-feature-card {
    align-self: stretch;
    padding: 1.5rem;
    background: white;
    overflow: hidden;
    border-radius: 15px;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 0.7rem;
    display: flex;
}

.section5-feature-header {
    align-self: stretch;
    justify-content: flex-start;
    align-items: center;
    gap: 0.7rem;
    display: inline-flex;
}

.section5-feature-title {
    color: #161616;
    font-size: 1.1rem;
    font-family: Palanquin;
    font-weight: 600;
    line-height: 1;
    word-wrap: break-word;
}

.section5-feature-description {
    align-self: stretch;
    color: #161616;
    font-size: 1rem;
    font-family: Palanquin;
    font-weight: 400;
    line-height: 1.2;
    word-wrap: break-word;
}

/* Estilos para a seção 6 */
.section6 {
    width: 100%;
    padding-bottom: 3rem;
}

.section6-header {
    align-self: stretch;
    padding-top: 5rem;
    padding-bottom: 3rem;
    overflow: hidden;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    display: inline-flex;
    width: 100%;
}

.section6-title {
    align-self: stretch;
    text-align: center;
}

.section6-title-text-black {
    color: black;
    font-size: 3rem;
    font-family: Palanquin Dark;
    font-weight: 400;
    line-height: 1.2;
    word-wrap: break-word;
}

.section6-title-text-purple {
    color: #685BC7;
    font-size: 3rem;
    font-family: Palanquin Dark;
    font-weight: 400;
    line-height: 1.2;
    word-wrap: break-word;
}

.section6-features {
    width: 100%;
    padding-top: 2rem;
    padding-bottom: 2rem;
}

.section6-features-container {
    width: 100%;
    max-width: 800px;
    margin: 0 auto;
}

.section6-accordion-header {
    align-self: stretch;
    justify-content: space-between;
    align-items: center;
    display: inline-flex;
    width: 100%;
}

.section6-accordion-question {
    width: 95%;
    color: #161616;
    font-size: 1.1rem;
    font-family: Palanquin;
    font-weight: 600;
    line-height: 1;
    word-wrap: break-word;
}

.section6-accordion-icon img {
    max-width: 20px;
    
}

.section6 .accordion .btn.focus, .btn:focus {
    outline: 0;
    box-shadow: none;
}

.section6 .accordion .card{
    margin-bottom: 1rem;
}

.section6 .accordion .card-header{
    background: #FFF;
    border-radius: 15px !important;
    border: 2px solid #685BC7;
    margin-bottom: 0;
   
}

.section6 .accordion  .card-header.ativo  {
    border-radius: 15px 15px 0 0 !important;
    
}
  
.section6 .accordion .card{
    border: none !important;
}

.section6 .accordion .card-body{
    border-left: 2px solid #685BC7;
    border-right: 2px solid #685BC7;
    border-bottom: 2px solid #685BC7;
    border-radius: 0 0 15px 15px !important;
}

.section6-tarifas {
    align-self: stretch;
    padding-left: 1.2rem;
    padding-right: 1.2rem;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
    background: rgba(255, 255, 255, 0);
    border-radius: 15px;
    outline: 2px #685BC7 solid;
    outline-offset: -2px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    display: inline-flex;
}

.section6-tarifas-text {
    align-self: stretch;
}

.section6-tarifas-text-normal {
    color: #161616;
    font-size: 1rem;
    font-family: Palanquin;
    font-weight: 300;
    line-height: 1.2;
    word-wrap: break-word;
}

.section6-tarifas-text-bold {
    color: #161616;
    font-size: 1rem;
    font-family: Palanquin;
    font-weight: 500;
    line-height: 1.2;
    word-wrap: break-word;
    font-weight: bold;
}

/* Estilos para a seção 7 */
.section7 {
    width: 100%;
    background: #FBF7EC;
}

.section7-container {
    align-self: stretch;
    padding-top: 4rem;
    padding-bottom: 4rem;
    background: #FBF7EC;
    overflow: hidden;
    justify-content: center;
    align-items: center;
    gap: 5rem;
    display: flex;
    margin: auto;
    width: 100%;
}

.section7-logo-container {
    position: relative;
    overflow: hidden;
}

.section7-logo {
    object-fit: contain;
    max-width: 10rem;
}

/* Estilos para a seção 8 */
.section8 {
    width: 100%;
    background: #685BC7;
}

.section8-footer {
    width: 100%;
    padding-top:2rem;
    padding-bottom: 2rem;
    background: #685BC7;
    justify-content: center;
    align-items: center;
    gap: 0.7rem;
    display: inline-flex;
}

.section8-copyright {
    text-align: center;
}

.section8-copyright-text {
    color: white;
    font-size: 1rem;
    font-family: Palanquin;
    font-weight: 400;
    line-height: 1.2;
    word-wrap: break-word;
}

.section8-copyright-link {
    color: white;
    font-size: 1rem;
    font-family: Palanquin;
    font-weight: 400;
    text-decoration: underline;
    line-height: 1.2;
    word-wrap: break-word;
}
.section8-copyright-link.pol-priv{
    cursor: pointer;
}
@media (max-width: 1713px) {
    .section1 {
        padding-bottom: 25vh;
    }
}
@media (max-width: 1630px) {
    .section1 {
        padding-bottom: 20vh;
    }
    .banner-container {
        padding-top: 6rem;
    }
}
@media (max-width: 1478px) {
    .section1 {
        padding-bottom: 20vh;
    }
    .banner-container {
        padding-top: 4rem;
    }
}

@media (max-width: 1300px) {
    .section1 {
        padding-bottom: 20vh;
    }
    .banner-container {
        padding-top: 2rem;
        padding-bottom: 0;
        padding-left: 8rem;
        padding-right: 0;
        gap: 1rem;
    }
    .logo {
        width: 8rem;
     }
     .content-container {
        max-width: 35vw;
     }
     .main-title {
        font-size: 2.5rem;
        line-height: 1.2;
     }
     .fields-container {
        gap: 1rem;
    }
    .description{
        font-size: 1.2rem;
    }
    .section2-container {
     padding-top: 4rem;
     padding-bottom: 4rem;
     gap: 2rem;
    }
    
    .section2-content-text {
        padding-left: 1rem;
        padding-right: 1rem;
        gap: 2rem;
    }
    
    .section2-title-text-dark {
        font-size: 3rem;
        line-height: 1.2;
    }
    
    .section2-title-text-purple {
        font-size: 3rem;
        line-height: 1.2;
    }
    .section3-header {
         padding-top: 5rem;  
         gap: 2rem;
    }
    .section3-title-text-white {
        font-size: 2.5rem;
        line-height: 1.2;
    }
    .section3-title-text-pink {
        font-size: 2.5rem;
        line-height: 1.2;
    }
    
    .section3-content {
        padding-top: 3rem;
        padding-bottom: 7rem;
    }
    .section4-header {
        padding-top: 4rem;
        padding-bottom: 2.5rem;
        gap: 2rem;
    }
    .section4-content {   
        padding-top: 4rem;
        padding-bottom: 2.5rem;
        gap: 4rem;
    }
    .section4-step {
         gap: 1.4rem;
    }
    .section4-divider {
        width: 12rem;
        height: 11rem;
    }
    .section4-divider-shape {
        width: 10rem;
        height: 3.3rem;
        left: 1.5rem;
        top: 1.2rem;
    }
    .section4-step-2 {
        gap: 1.4rem;
    }
    .section5-header {
        padding-top: 5rem;
        padding-bottom: 3rem;
        gap: 2rem;
    }
    .section5-content {
        padding-top: 3rem;
        padding-bottom: 3rem;
        gap: 3rem;
    }
    .section5-image-container {
        gap: 3rem;
    }
    .section5-features {
        padding-top: 2rem;
        padding-bottom: 2rem;
        gap: 1.5rem;
    }
    .section5-features-container {
         gap: 1.5rem;
    }
    .section5-feature-card {
         padding: 1.5rem;
         gap: 0.7rem;
    }
    .section5-feature-header {
         gap: 0.7rem;
    }
    .section5-image {
        width: 100%;
    }
    .section6 {
        padding-bottom: 3rem;
    }
    .section6-header {
        padding-top: 5rem;
        padding-bottom: 3rem;
        gap: 2rem;
    }
    .section6-features {
        padding-top: 2rem;
        padding-bottom: 2rem;
    }
    .section6-accordion-icon img {
        max-width: 20px; 
    }
    .section6-tarifas {
        padding-left: 1.2rem;
        padding-right: 1.2rem;
        padding-top: 1.5rem;
        padding-bottom: 1.5rem;
        gap: 1rem;
    }
    .section7-container {
        padding-top: 4rem;
        padding-bottom: 4rem;
        gap: 5rem;
    }
    .section7-logo {
        max-width: 10rem;
    }
    .section8-footer {
        padding-top:2rem;
        padding-bottom: 2rem;
        gap: 0.7rem;
    }
}
@media (max-width: 1256px) {
    .banner-container{
        padding-left: 4rem;
    }
    
}
@media (max-width: 1224px) {
    .main-title {
        font-size: 2.5rem;
        line-height: 1;
    }
    .description {
        font-size: 1rem;
    }
    .section1 {
        padding-bottom: 20vh;
    }
}



@media(max-width: 1200px) {
    .section2-title-text-dark {
        font-size: 2.5rem;
        line-height: 1;
    }
    
    .section2-title-text-purple {
        font-size: 2.5rem;
        line-height: 1;
    }
    .container, .container-md, .container-sm {
        max-width: 900px !important;
    }
}
@media (max-width: 1154px) {
    .content-container {
        max-width: 50vw;
    }
}



@media (max-width: 1076px) {
   
    .content-container {
        max-width: 50vw;
    }
    .section1 {
        padding-bottom: 15vh;
    }
    .main-title {
        font-size: 2.1rem;
    }
}

@media (max-width: 1000px) {
    
    .section1 {
        padding-bottom: 20vh;
    }
    .main-title {
        font-size: 1.8rem;
    }
    .section1 .form-control {
        height: auto;
        padding: 0 .75rem;
    }
    .fields-container {
        gap: 0.5rem;
    }
    form{
        gap: 0.5rem;
    }
    .action-button {
        height: 2.5rem;
    }
    .section3-title-text-white {
        font-size: 2.1rem;
        line-height: 1;
    }
    .section3-title-text-pink{
        font-size: 2.1rem;
        line-height: 1;
    }
    .section4-title-text-dark{
        font-size: 2.5rem;
        line-height: 1;
    }
    .section4-title-text-purple{
        font-size: 2.5rem;
        line-height: 1;
    }
    .section4-divider {
        width: 8rem;
        height: 7rem;
    }
    .section4-divider-shape {
        width: 6rem;
        height: 3.3rem;
    }
}
@media (max-width: 940px) {
    .section1 {
        padding-bottom: 12vh;
    }
}
@media (max-width: 900px) {
    .section1 {
        padding-bottom: 12vh;
    }
}
@media (max-width: 700px){
    .section4-steps-container{
        display: none;
    }
    .section4-mobile-steps-container{
        display: block;
    }
}
@media (max-width: 680px) {
    .section7-container {
        display: block;
        padding-top: 2rem;
        padding-bottom: 1rem;
    }
    .section7-logo-container{
        text-align: center;
        padding-bottom: 3rem;
    }
    .section7-logo {
        max-width: 15rem;
    }
}
@media (max-width: 610px) {
    .container, .container-md, .container-sm {
        max-width: 80vw !important;
    }
    .action-button{
        width: 100% !important;
    }
    .section1 {
        width: 100%;
        background: #685BC7;
        background-image: url(img/mobile/banner1.webp);
        background-size: cover;
        padding-bottom: 30vh;
    }
    .section1 .div-logo{
        display: block;
        text-align: center;
    }
    .section1 .div-logo img{
        max-width: 8rem;
        margin: auto;
    }
    .banner-container .logo{
        display: none;
    }
    .banner-container {
        padding-left: 0;
    }
    .content-container {
        max-width: 80%;
        margin: auto;
    }
    .main-title {
        font-size: 4rem;
        text-align: center;
        padding-top: 10vh;
    }
    .description {
        font-size: 1.5rem;
        text-align: center;
    }
    .section3-content iframe{
        max-width: 100%;
        height: 315px;
    }
    .section1 .form-control {
        height: calc(1.5em + .75rem + 2px);
        padding: .5rem .75rem;
        height: 70px;
        font-size: 1.5rem;
    }
    .fields-container {
        gap: 1.5rem;
    }
    form{
        gap: 1.5rem;
    }
    .action-button{
        height: 70px;
        font-size: 1.5rem;
    }
    .section2-container {
        padding-top: 0rem;
    }
    .section2-title-text-dark {
        font-size: 3rem;
        line-height: 1;
    }
    .section2-title-text-purple {
        font-size: 3rem;
        line-height: 1;
    }
    .section2-content-text {
        padding-left: 0;
        padding-right: 0;
        gap: 2rem;
    }
    .section2-description {
        font-size: 1.5rem;
        padding-bottom: 2rem;
        
    }
    .section3-title-text-white{
        font-size: 3rem;
        line-height: 1.2;
    }
    .section3-title-text-pink{
        font-size: 3rem;
        line-height: 1.2;
    }
    .section3-description-text{
        font-size: 1.6rem;
        line-height: 1.2;
    }
    .section3-description-text-bold{
        font-size: 1.6rem;
        line-height: 1.2;
    }
    .section3-content{
        padding-top: 2rem;
    }
    .section3-description{
        max-width: 100%;
    }
    .section4-title-text-dark {
        font-size: 3rem;
    }
    .section4-title-text-purple{
        font-size: 3rem;
    }
    
    .section4-step-box {
        width: 100%;
    }
    .section4-step-image {
        max-width: 10rem;
    }
    .section4-content {
        padding-top: 1rem;
    }
    .section4-mobile-steps-container .row{
        gap:4rem;
    }
    .section4-step-description {
        font-size: 1.3rem;
    }
    .section5-content {
        display: block;
    }
    .section5-content{
        text-align: center;
    }
    .section5-feature-card{
        text-align: left;
    }
    .section5-image-container {
        max-width: 80%;
    }
    .section5-image {
        width: 100%;
    }
}
@media (max-width: 550px) {
    .section1 {
        padding-bottom: 40vh;
    }
    .main-title {
        padding-top: 5vh;
    }
    .section2-container {
        padding-top: 0rem;
    }
}

@media (max-width: 500px) {
    .main-title {
        font-size: 3rem;
        text-align: center;
        padding-top: 3vh;
    }
    .content-container {
        max-width: 90%;
    }
    .container, .container-md, .container-sm {
        max-width: 90vw !important;
    }
    .section1 {
        padding-bottom: 30vh;
    }
    
    
    .section2-title-text-dark {
        font-size: 2.5rem;
        line-height: 1;
    }
    .section2-title-text-purple {
        font-size: 2.5rem;
        line-height: 1;
    }
    .section2-description {
        font-size: 1.3rem;
    }
    .section3-title-text-white{
        font-size: 2.5rem;
        line-height: 1.2;
    }
    .section3-title-text-pink{
        font-size: 2.5rem;
        line-height: 1.2;
    }
    .section4-title-text-dark {
        font-size: 2.5rem;
    }
    .section4-title-text-purple{
        font-size: 2.5rem;
    }
    .section4-step-image {
        max-width: 8.5rem;
    }
    .section5-title-text-black {
        font-size: 2.5rem;
        line-height: 1.2;
    }
    .section5-title-text-purple {
        font-size: 2.5rem;
        line-height: 1.2;
      
    }
    .section6-title-text-black {
        font-size: 2.5rem;
    }
    .section6-title-text-purple{
        font-size: 2.5rem;
    }
}

@media (max-width: 420px) {
    .content-container {
        max-width: 90%;
    }
    .container, .container-md, .container-sm {
        max-width: 100vw !important;
    }
    .main-title {
        font-size: 2.5rem;
    }
    .description {
        font-size: 1.3rem;
    }
    .action-button {
        font-size: 1.3rem;
    }
    .action-button ,
    .section1 .form-control {
        height: 50px;
    }
    .section2-content-text {
        gap:1rem;
    }
    .section2-title-text-dark {
        font-size: 2rem;
        line-height: 1;
    }
    .section2-title-text-purple {
        font-size: 2rem;
        line-height: 1;
    }
    .section2-description {
        font-size: 1.2rem;
    }
    .section3-title-text-white{
        font-size: 2rem;
        line-height: 1.2;
    }
    .section3-title-text-pink{
        font-size: 2rem;
        line-height: 1.2;
    }
    .section3-description-text {
        font-size: 1.3rem;
    }
    .section3-description-text-bold {
        font-size: 1.3rem;
    }
    .section3-content {
        padding-bottom: 3.5rem;
    }
    .section4-title-text-dark {
        font-size: 2rem;
    }
    .section4-title-text-purple{
        font-size: 2rem;
    }
    .section4-step-image {
        max-width: 7rem;
    }

    .section5-title-text-black {
        font-size: 2rem;
        line-height: 1.2;
    }
    .section5-title-text-purple {
        font-size: 2rem;
        line-height: 1.2;
      
    }
    .section6-title-text-black {
        font-size: 2rem;
    }
    .section6-title-text-purple{
        font-size: 2rem;
    }
    .section6-accordion-question {
        font-size:1rem;
    }
    .section6 {
        padding-bottom: 0rem;
    }
    
   
   
    .section3-content iframe{
        height: 250px;
    }

}

