body{
    overflow-x: hidden;
    width: 100vw;
}
/* Estilos para o banner principal */
.section1 {
    width: 100vw;
    min-height: 100vh;
    background: #685BC7;
    background-image: url(img/banner1.webp);
    background-size: cover;
    
    
}
.banner-container {
    align-self: stretch;
    padding-top: 2rem;
    padding-bottom: 0;
    padding-left: 8rem;
    padding-right: 0;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 1rem;
    display: inline-flex;
}

/* Logo */
.logo {
   width: 8rem;
}

/* Container do conteúdo principal */
.content-container {
    max-width: 35vw;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 1rem;
    display: flex;
}

/* Título principal */
.main-title {
    align-self: stretch;
    font-size: 2.5rem;
    font-family: Palanquin Dark;
    font-weight: 400;
    line-height: 1.2;
    word-wrap: break-word;
}

.title-text-white {
    color: white;
   
   
}

.title-text-pink {
    color: #F5B6CD;
}

/* Descrição */
.description {
    width:100%;
    color: white;
    font-size: 1rem;
    font-family: Palanquin;
    font-weight: 400;
    line-height: 25px;
    line-height: 1.2;
    word-wrap: break-word;
}

/* Container do formulário */
.form-container {
    width: 100%;
    border-radius: 20px;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    
    display: flex;
}

/* Container dos campos */
.fields-container {
    align-self: stretch;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 15px;
    display: flex;
}


/* Botão de ação */
.action-button {
    align-self: stretch;
    height: 3.5rem;
    position: relative;
    background: #00B43C;
    border-radius: 10px;
    color: white;
    font-size: 1rem;
    font-family: Inter;
    font-weight: 600;
    text-transform: uppercase;
    line-height: 24px;
    word-wrap: break-word;
    border: none;
}

/* Estilos para a seção 2 */
.section2 {
    width: 100%;
}

.section2-container {
    align-self: stretch;
    padding-top: 4rem;
    padding-bottom: 4rem;
    background: white;
    overflow: hidden;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 2rem;
    display: inline-flex;
}

.section2-image-container {
    width: 50vw;
    padding: 1rem;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 5rem;
    display: inline-flex;
}

.section2-image {
    width: 100%;
}

.section2-content-text {
    flex: 1 1 0;
    align-self: stretch;
    padding-left: 1rem;
    padding-right: 1rem;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 2rem;
    display: inline-flex;
}

.section2-title-text-dark {
    color: #161616;
    font-size: 3rem;
    font-family: Palanquin Dark;
    font-weight: 400;
    line-height: 58px;
    word-wrap: break-word;
}

.section2-title-text-purple {
    color: #685BC7;
    font-size: 3rem;
    font-family: Palanquin Dark;
    font-weight: 400;
    line-height: 58px;
    word-wrap: break-word;
}

.section2-description {
    align-self: stretch;
    color: #161616;
    font-size: 1.2rem;
    font-family: Palanquin;
    font-weight: 400;
    line-height: 25px;
    word-wrap: break-word;
}

/* Estilos para a seção 3 */
.section3 {
    width: 100%;
    background: #685BC7;
}

.section3-header {
    align-self: stretch;
    padding-top: 5rem;    
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 2rem;
    display: inline-flex;
}

.section3-title {
    align-self: stretch;
    text-align: center;
}

.section3-title-text-white {
    color: white;
    font-size: 2.5rem;
    font-family: Palanquin Dark;
    font-weight: 400;
    line-height: 1.2;
    word-wrap: break-word;
}

.section3-title-text-pink {
    color: #F5B6CD;
    font-size: 2.5rem;
    font-family: Palanquin Dark;
    font-weight: 400;
    line-height: 1.2;
    word-wrap: break-word;
}

.section3-description {
    max-width: 70%;
    text-align: center;
}

.section3-description-text {
    color: white;
    font-size: 1.3rem;
    font-family: Palanquin;
    font-weight: 400;
    line-height: 1;
    word-wrap: break-word;
}

.section3-description-text-bold {
    color: white;
    font-size: 1.3rem;
    font-family: Palanquin;
    font-weight: 700;
    line-height: 1;
    word-wrap: break-word;
}

.section3-content {
    align-self: stretch;
    padding-top: 3rem;
    padding-bottom: 7rem;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 4rem;
    display: inline-flex;
    text-align: center;
    width: 100%;
}

.section3-content iframe{
    width: 560px;
    height: 315px;
    border-radius: 15px;
    margin: auto;
}

.section3 .action-button,
.section4 .action-button{
    width: 20rem;
    margin: auto;

}

/* Estilos para a seção 4 */
.section4 {
    width: 100%;
    background: #FFF;
}

.section4-header {
    width: 100%;
    align-self: stretch;
    padding-top: 70px;
    padding-bottom: 50px;
    background: white;
    overflow: hidden;
    justify-content: center;
    align-items: center;
    gap: 30px;
    display: inline-flex;
}

.section4-title {
    text-align: center;
}

.section4-title-text-dark {
    color: #161616;
    font-size: 3rem;
    font-family: Palanquin Dark;
    font-weight: 400;
    line-height: 1.2;
    word-wrap: break-word;
}

.section4-title-text-purple {
    color: #685BC7;
    font-size: 3rem;
    font-family: Palanquin Dark;
    font-weight: 400;
    line-height: 1.2;
    word-wrap: break-word;
}

.section4-content {
    width: 100%;
    align-self: stretch;
    padding-top: 50px;
    padding-bottom: 70px;
    background: white;
    overflow: hidden;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 4rem;
    display: inline-flex;
}

.section4-steps-container {
    justify-content: flex-start;
    align-items: flex-start;
    display: inline-flex;
    flex-wrap: wrap;
    align-content: flex-start;
}
.section4-step-box{
    width: 10rem;
}
.section4-step {
   
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 1.4rem;
    display: inline-flex;
}

.section4-step-image {
    max-width: 70%;
   
}

.section4-step-title {
   
    text-align: center;
    color: #161616;
    font-size: 1.5rem;
    font-family: Palanquin;
    font-weight: 600;
    line-height: 1;
    word-wrap: break-word;
}

.section4-step-description {
    align-self: stretch;
    text-align: center;
    color: #161616;
    font-size: 1rem;
    font-family: Palanquin;
    font-weight: 400;
    line-height: 1;
    word-wrap: break-word;
}

.section4-step-description-bold {
    color: #161616;
    font-size: 1.1rem;
    font-family: Palanquin;
    font-weight: 700;
    line-height: 1;
    word-wrap: break-word;
}

.section4-divider {
    width: 12rem;
    height: 11rem;
    position: relative;
}

.section4-divider-shape {
    width: 10rem;
    height: 3.3rem;
    left: 1.5rem;
    top: 1.2rem;
    position: absolute;
    background-image: url(img/ligacao.webp);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

.section4-step-2 {
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 1.4rem;
    display: inline-flex;
}


.section4-step-3 {
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 1.4rem;
    display: inline-flex;
}

.section4-step-3-title {
     
    text-align: center;
    color: #161616;
    font-size: 1.5rem;
    font-family: Palanquin;
    font-weight: 600;
    line-height: 1;
    word-wrap: break-word;
}


/* Estilos para a seção 5 */
.section5 {
    width: 100%;
    background: #F5B6CD;
}

.section5-header {
    align-self: stretch;
    padding-top: 70px;
    padding-bottom: 50px;
    overflow: hidden;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
    display: inline-flex;
    width: 100%;
}

.section5-title {
    align-self: stretch;
    text-align: center;
}

.section5-title-text-black {
    color: black;
    font-size: 48px;
    font-family: Palanquin Dark;
    font-weight: 400;
    line-height: 58px;
    word-wrap: break-word;
}

.section5-title-text-purple {
    color: #685BC7;
    font-size: 48px;
    font-family: Palanquin Dark;
    font-weight: 400;
    line-height: 58px;
    word-wrap: break-word;
}

.section5-content {
    align-self: stretch;
    padding-top: 50px;
    padding-bottom: 50px;
    background: #F5B6CD;
    overflow: hidden;
    justify-content: center;
    align-items: center;
    gap: 50px;
    display: inline-flex;
}

.section5-image-container {
    width: 563px;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    gap: 50px;
    display: inline-flex;
}

.section5-image {
    width: 512px;
    height: 527px;
}

.section5-features {
    flex: 1 1 0;
    align-self: stretch;
    padding-top: 30px;
    padding-bottom: 30px;
    overflow: hidden;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 20px;
    display: inline-flex;
}

.section5-features-container {
    width: 453px;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 20px;
    display: flex;
}

.section5-feature-card {
    align-self: stretch;
    padding: 20px;
    background: white;
    overflow: hidden;
    border-radius: 15px;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 10px;
    display: flex;
}

.section5-feature-header {
    align-self: stretch;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
    display: inline-flex;
}

.section5-feature-icon {
    width: 30px;
    height: 30px;
    background: #161616;
    border: 4.50px #161616 solid;
}

.section5-feature-icon-small {
    width: 7.67px;
    height: 7.67px;
    background: #161616;
    border: 4.50px #161616 solid;
}

.section5-feature-icon-medium {
    width: 9.06px;
    height: 9.07px;
    background: #161616;
    border: 4.50px #161616 solid;
}

.section5-feature-icon-phone {
    width: 18.75px;
    height: 30px;
    background: #161616;
    border: 0.36px #161616 solid;
}

.section5-feature-icon-heart {
    width: 30px;
    height: 30px;
    position: relative;
    overflow: hidden;
}

.section5-feature-icon-heart-shape {
    width: 24.38px;
    height: 21.56px;
    left: 2.81px;
    top: 3.75px;
    position: absolute;
    background: #685BC7;
}

.section5-feature-title {
    color: #161616;
    font-size: 18px;
    font-family: Palanquin;
    font-weight: 600;
    line-height: 25px;
    word-wrap: break-word;
}

.section5-feature-description {
    align-self: stretch;
    color: #161616;
    font-size: 14px;
    font-family: Palanquin;
    font-weight: 400;
    line-height: 25px;
    word-wrap: break-word;
}
